

<div class="container mt-3 pb-3">
  <h3> Instructions </h3>
  <div class="item-variants-list" *ngIf="itemVariant !== undefined">
    <div *ngFor="let item of itemVariant.itemVariants">
      <div [innerHTML]="item.description"></div>
    </div>
  </div>

  <h3> Optimization </h3>
  <div *ngFor="let action of itemVariant.actions">

    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <input type="checkbox" class="checkbox"/>
            {{ action.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div
          *ngFor="let actionVariantDesc of action.actionVariants"
          [innerHTML]="actionVariantDesc.description"
        >
        </div>

      </mat-expansion-panel>

    </mat-accordion>

  </div>
</div>
