<nav class="navbar navbar-expand-lg navbar-light bg-light main-navbar">
  <div class="container-fluid">
    <img src="../../../../assets/images/Artwork 9.svg"/>

    <div class="submenu">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Companies</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Optimization</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Audits</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Scripts</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Proposals</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Help</a>
          </li>
        </ul>
      </div>

      <div class="user-items">
        <img src="../../../../assets/images/Avatar.png"/>
        <span> Jhon Doe </span>
        <img class="dropdown-icon" src="../../../../assets/images/small-down.svg"/>
      </div>

    </div>
  </div>
</nav>
